body{
    background-color: #270455;
    color: #74097F;
}
#everything{
    display: grid;
    grid-template-columns: 1fr 1fr
}
p{
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    margin-top: 20px;
    margin-bottom: 15px;
}
#title{
    font-family: "Lavishly Yours", cursive;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: xx-large;
    padding: 2%;
}
#headerTwo{
    display: flex;
    font-size: x-large;
    text-decoration: underline;
    background-color: #9F72A8;
    padding: 1%;
}
#headerThree{
    display: flex;
    font-size: larger;
    text-decoration: underline;
    background-color: #9F72A8;
    padding: 0.5%;
}
#italic{
    font-style: italic;
}
#bold{
    font-weight: bold;
}
#link{
    color: #165BFB;
}
img{
    width: 20%;
    padding-top: 2%;
}
#img-src{
    font-size: small;
    font-weight: bold;
    color: #5A2A9B;
    margin-top: 0%;
}

